.profile-image {
    width: 64px;
}

#profile-list li {
    display: inline;
    float: left;
    margin: 0 2em;
}

#profile-list {
    margin-top: 2em;
    padding-left: 0;
}

#profile-list img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    filter: grayscale(1.0);
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#profile-list img:hover {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}

#contact-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-info {
    background-color: #E6E9ED
}

#contact-info p {
    padding: 2em 5em;
}

#header {
    background-color: #F5F7FA;
    padding-top: 25px;
    padding-bottom: 25px;
}

#technology-list li {
    display: inline;
    float: left;
    margin: 0 2em;
}

#technology-list {
    margin-top: 2em;
    padding-left: 0;
}

#technology-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#technology-list > li {
    width: 96px;
}

.technology-image {
    width: 96px;
    margin: 1em 1em;
}

/*
  change the bootstrap carousel colors:
        https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel
*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}